/* Styling for Text1 */
.text3{
    position: relative;
    left: -1420px;
    transition: left 1s ease-in-out; /* Smooth transition for movement */
    color: white;
  }
  

  .Btn{
    position: relative;
    bottom: -500px;
    transition: bottom 1s ease-in-out; /* Add transition for smooth effect */
  }
  .image2{
    display: none;
  }
  .containerHover{
    z-index: 1;
  }
  
  .containerHover:hover .Btn {
    bottom: 0px; /* Move into visible position */

  }
  .containerHover:hover .image2 {
   
    display: flex;
  }
  .containerHover:hover .image1 {
   
    display: none;
  }
  
  .containerHover:hover .text3{
    left: 0px; /* Move into visible position */
  }
  