/* Styling for Text1 */
.text3{
    position: relative;
    left: -1420px;
    transition: left 1s ease-in-out; /* Smooth transition for movement */
    color: white;
  }
  

  .Btn{
    position: relative;
    bottom: -900px;
    transition: bottom 1s ease-in-out; /* Add transition for smooth effect */
  }
  .image2{
    display: none;
  }
  .containerHover{
    z-index: 1;
  }
  
  .containerHover:hover .Btn {
    bottom: 0px; /* Move into visible position */

  }
  .image2{
    -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  }
  .containerHover:hover .image2 {
   
    display: flex;

  }
  .containerHover:hover .image1 {
   
    display: none;
  }
  
  .containerHover:hover .text3{
    left: 0px; /* Move into visible position */
  }
  .HeroSectionText{
    position: absolute;
    top:10%;
  }
  .heroPage {
    position: relative;
    /* background: url('https://images.pexels.com/photos/2570062/pexels-photo-2570062.jpeg') center/cover no-repeat; */
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:16px ;
     -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
/* */

.Service-Hero-Content{
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}

@media (min-width: 600px) and (max-width: 991px) {
  .heroPage {
    
    height: 50vh;
    
}
}
  @media (min-width: 299px) and (max-width: 600px) {
    /* .Btn-Hero-Section{
       height: 5vh !important;  
    } */
    .heroPage {
    
      height: 25vh;
      
  }
    .HeroSectionText{
      position: absolute;
      top:1px;
    }
    .text3{
      
      left: 0px;
      
    }
    
  
    .Btn{
      
      bottom: 0px;
      
    }
}