/* Styling for Text1 */
.text1 {
    color: white;
    position: relative;
    top: -400px;
    transition: top 1s ease-in-out; /* Smooth transition for movement */
  }
  
  /* Styling for Text2 */
  .text2 {
    color: white;
    position: relative;
    bottom: -400px;
    transition: bottom 0.3s ease-in-out; /* Add transition for smooth effect */
  }
  
  /* Hover Effects for Text */
  .containerHover:hover .text1 {
    top: 0px; /* Move into visible position */
  }
  
  .containerHover:hover .text2 {
    bottom: 0px; /* Move into visible position */
  }
  