.project-description * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .project-description img, .project-description video, .project-description iframe {
    max-width: 100%;
    height: auto;
  }