.swiper {
  width: 100%; /* Ensure swiper takes up the full width */
  height: 100%; /* Adjust height based on your design */
  display: flex;
  justify-content: center;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

/* Centered (active) slide */
.swiper-slide-active {
  opacity: 1;
  transform: scale(1);
  z-index: 10;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .swiper-slide {
    transform: scale(0.9);
  }
  .swiper-slide-active {
    transform: scale(1.1);
  }
}

@media (max-width: 576px) {
  .swiper-slide {
    transform: scale(0.8);
  }
  .swiper-slide-active {
    transform: scale(1);
  }
}
