/* .swiper-slide{
 width: 500px  !important ;
} */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ServiceCardImg {
  height: 520px;
  min-width: 450px;
}
.HomeServiceCardText1 {
  font-size: 30px !important;
  color: white;
}
.HomeServiceCardText2 {
  font-size: 20px;
  line-height: 25px;
}
@media (min-width: 299px) and (max-width: 991px) {
  .ServiceCardImg {
    height: 400px;
    min-width: 230px;
  }
  .HomeServiceCardText1 {
   font-size: 22px !important;
 }
 .HomeServiceCardText2 {
   font-size: 15px !important;
   line-height: 25px !important;
 }
}
