/* .swiper-slide{
 width: 500px  !important ;
} */
 .swiper-slide{
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .ServiceCardImg{
    height: 520px;
    min-width: 450px;
 }

 @media (min-width: 299px) and (max-width: 991px) {
    .ServiceCardImg{
        height: 400px;
        min-width: 230px;
     }
    
}