.AboutHomeBTN{
    height: 75px !important;
                    
                    font-size: 1.5rem !important; 
  }

  @media (min-width: 611px) and (max-width: 991px) {
    .AboutHomeBTN{
        height: 2px ;
        
        font-size: 2rem ;
      }
    
}  

@media (min-width: 299px) and (max-width: 611px) {
    .AboutHomeBTN{
        height: 47px !important;
        
        font-size: 0.9rem !important;
      }
    
}