/* .swiper-slide {
    height: auto;
    /* width: 00px !important; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  

  
  .swiper-slide-active .heading_tertiary,
  .swiper-slide-active .text_seventh {
    color: white;
  }
   */