.swiper-slide-active .PortfolioCard {
  background-color: rgb(0, 0, 0);
}
.swiper-slide-active .PortfolioOption {
  color: white !important;
}

.swiper-slide-active .PortfolioText {
  color: white !important;
}

.PortfolioCard {
  background-color: white;
}
