.image-container {
  position: relative;
  height: 614px;
  /* border: 2px solid red; Add the border to the container */
}

.about-image-main {
  height: 467px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

}
.image-vector-clip {
  
  clip-path: polygon(77% 1%, 100% 42px, 100% 100%, 0 100%, 0 0);
  -webkit-clip-path: polygon(77% 1%, 100% 42px, 100% 100%, 0 100%, 0 0);
}
.about-image-left {
  position: absolute;
  left: 0;
  top: 0;
}

.about-image-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
