.image-container {
  position: relative;
  height: 614px;
  width: 600px;
  /* border: 2px solid red; Add the border to the container */
}

.about-image-main {
  height: 467px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;


}

.image-vector-clip {
  clip-path: polygon(78% 0, 100% 13%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
  -webkit-clip-path: polygon(78% 0, 100% 13%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
}
.about-image-left {
  position: absolute;
  left: 0;
  top: 0;
}

.about-image-right {
  position: absolute;
  right: 0;
  bottom: 0;
}
@media (min-width: 299px) and (max-width: 991px) {
  .about-image-main {
    height: 300px;
    width: 225px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
  
  
  }
  .image-vector-clip {
    clip-path: polygon(78% 0, 100% 13%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
    -webkit-clip-path: polygon(78% 0, 100% 13%, 100% 60%, 100% 100%, 0 100%, 0% 60%, 0 0);
}
  .image-container {
    width:320px;
    height: 450px;
  }
}