*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;  
}
body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box; 
  background-color: rgb(1,1,1); 
}


:root{
  /* Font Family */
  --font_family_poppins: "Poppins", serif;
  --font_family_orbitron: "Orbitron", serif;
  --font_family:"Inter", serif;
  /* Backgrounds */
  
  --gradient_Radial:radial-gradient(37.26% 37.26% at 50% 50%, rgba(170, 20, 240, 0.31) 0%, rgba(170, 20, 240, 0) 100%);
  --background_color_btn:linear-gradient(#BC3CD8,#C54B8C);
  --background_color_secondary:rgba(255, 255, 255, 0.12);
  --background_gradient_one:linear-gradient(180deg, #AA14F0 -42.59%, rgba(0, 0, 0, 0) -42.59%, #AA14F0 -42.58%, rgba(170, 20, 240, 0.18) 4.35%, rgba(151, 60, 68, 0.055) 99.99%, rgba(185, 54, 245, 0.58) 100%);
  --background_gradient_two:linear-gradient(#C824EC80,#DF308D80);
   /* Text Color */
  --btn_text_color:#FFFFFF;

  /* Font Size */
  --font_size_45:45.39px;
  --font_size_21:21px;
  --btn_text_fontsize:18.67px;
  --font_size_18_24:18.24px;
  --font_size2:16px;
  --font_size28:28.5px;
  --font_size_23:23.89px;
  
  /* Font Weight */
  --font_weight_900:900;
  --font_wight_primary:700;
  --font_wight_secondary:500;
  --font_wight_400:400;

  /* Line Height */
  --btn_text_line_height:28.01px;
  --Line_height_28_92:28.92px;
  --line_height_27:27.36px;
  --line_height_2:24px;
  --line_height_72:72.63px;
  --line_height_33:33px;
  --line_height_42:42.76px;


}

.btn_text{
  color:var(--btn_text_color) ;
  line-height: var(--btn_text_line_height);
  font-weight: var(--font_wight_primary);
  font-size: var(--btn_text_fontsize);
  font-family: var(--font_family_poppins);
}
.text_primary{
  font-family: var(--font_family_orbitron);
  font-size: var(--font_size_45);
  font-weight: var(--font_weight_900);
  line-height: var(--line_height_72);
  color: var(--btn_text_color);
}
.text_secondary{
  font-family: var(--font_family_poppins);
  font-size: var(--font_size2);
  line-height: var(--line_height_2);
  font-weight: var(--font_wight_secondary);
  color: var(--btn_text_color);
}
.text_second{
font-family: var(--font_family_poppins);
font-weight: var(--font_wight_secondary);
font-size: var(--font_size28);
line-height: var(--line_height_42);
color: var(--btn_text_color);

}
.text_paragraph{
  font-size:var(--font_family_poppins);
  font-weight: var(--font_wight_400);
  font-size: var(--font_size_21);
  line-height: var(--line_height_33);
  color: var(--btn_text_color);
}
.text_paragraph_secondary{
  font-family: var(--font_family_poppins);
  font-weight: var(--font_wight_400);
  font-size: var(--font_size_18_24);
  line-height: var(--line_height_27);
  color: var(--btn_text_color);
}
.text_paragraph_teritary{

}
.Container {
  margin: 0px 98px 0px 98px;
}

.background_gradient_one{
  background:var(--background_gradient_one) ;
}
.background_gradient_two{
  background:var(--background_gradient_two) ;
}
.Flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.backgroundClientCard{
  background-color:var(--background_color_secondary) ;
}
.gradient_radial{
  background: var(--gradient_Radial);
}